.bicicletas{
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}
.bicicletas h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: var(--c11);
    padding-left: 40px;
}
.bicicletas h2 span{
    font-family: 'Poppins';
    color: var(--p1);
}

.bicicletas ul{
    display: flex;
    gap: 40px;
    padding-bottom: 20px;
    overflow-x: auto;
}
.bicicletas ul li{
    min-width: 280px;
    flex: 1;
}

.bicicletas img{
    margin-bottom: 16px;
    border-radius: 5px;
}

.bicicletas h3{
    margin-bottom: 8px;
    margin-left: 20px;
    position: relative;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    transition: 0.3s;
}
.bicicletas h3::before{
    content: "";
    position: absolute;
    width: 12px;
    height: 8px;
    background: var(--p1);
    top: 17px;
    left: -20px;
    transition: 0.3s;
}
.bicicletas a:hover h3::before{
    width: 24px;
}
.bicicletas a:hover h3{
    padding-left: 10px;
}
.bicicletas li span{
    margin-left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: var(--c8);
}

@media (max-width:800px){
    .bicicletas{
        gap: 20px;
    }
    .bicicletas h2{
        font-size: 44px;
    }
    .bicicletas ul{
        gap: 20px;
    }

}