.bicicletas2-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
}
.bicicletas2-img{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}
.bicicletas2-img img{
    min-width: 200px;
    border-radius: 5px;
    flex: 1;
}
.bicicletas2-img img:nth-child(1){
   min-width: 100%;
}



.bicicletas2-lado p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--c5);
}

.bicicletas2-descricao{
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 32px 0px 40px 0px;
}
.bicicletas2-descricao > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.bicicletas2-descricao > div > span{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--c6);
    background: var(--c12);
    border-radius: 5px;
}

.informacoes h2,
.ficha h2{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--w);
    letter-spacing: 0.015em;
}
.informacoes-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding: 32px;
    border-radius: 5px;
    margin: 12px 0px 40px 0px;
    background: var(--c12);
}
.informacoes-container img{
    width: 24px;
    height: 24px;
}
.informacoes-container h3{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--w);
    margin: 4px 0px 8px 0px;
}
.informacoes-container p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--c5);
}

.ficha-container{
    padding: 32px;
    background: var(--c12);
    border-radius: 5px;
    margin-top: 12px;
}
.ficha-container li {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--c4);
    padding-bottom: 5px;
    margin-bottom: 11px;
    border-bottom: 1px solid var(--c11);
    display: flex;
    justify-content: space-between;
}
.ficha-container li:last-child{
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
}
.ficha-container li > span {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--c6);
}