#seguro2 .seguros-grid,
#seguro2 .seguros-container{
    padding-top: 0px;
}

.vantagens-bg{
    background-color: var(--c12);
}
.vantagens-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px;
}
.vantagens-itens{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 80px;
    color: var(--w);
}
.vantagens-itens img{
    margin-bottom: 8px;
    width: 32px;
    height: 32px;
}
.vantagens-itens h3{
    margin-bottom: 8px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}
.vantagens-itens p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--c6);
}
.perguntas-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px;
}
.perguntas-container h1{
    color: var(--c12);
}
.perguntas-dl > div{
    padding: 20px 40px;
}
.perguntas-dl > div:nth-child(odd){
    background: var(--c1);
}
.perguntas-dl > div > dt{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: var(--c11);
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.perguntas-dl > div > dt::before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 8px;
    background: var(--p1); 
}
.perguntas-dl > div > dt::after{
    content: "";
    display: inline-block;
    width: 14px;
    height: 6px;
    background: url(../img/icones/seta-abrir.svg); 
    transition: 0.3s;
}
.perguntas-dl > div > dt:hover::after{
    transform: rotate(180deg);
}

.perguntas-dl > div > dd{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--c9);
    padding-left: 20px;
    max-width: 80ch;
}


@media (max-width:800px){
    .vantagens-container,
    .perguntas-container{
        padding: 30px 20px;
    }
    .vantagens-itens{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 40px;
    }
    .vantagens-container h1,
    .perguntas-container h1{
        font-size: 48px;
    }
}
@media (max-width:500px){
    .vantagens-itens{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .vantagens-container h1,
    .perguntas-container h1{
        font-size: 44px;
    }
}