.tecnologia-bg{
    background: var(--c11);
}
.tecnologia-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}
.tecnologia-margin{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: var(--c5);
    text-transform: uppercase;
    margin: 80px 0 20px 0;
    display: block;
}
.tecnologia-conteudo h2 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: var(--w);
    margin-bottom: 32px;
}
.tecnologia-conteudo h2 span{
    font-family: 'Poppins';
    color: var(--p1);
    font-size: 64px;
}
.tecnologia-conteudo p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--c5);
    margin-bottom: 20px;
}
.tecnologia-conteudo a{
    font-family: 'Poppins';
    position: relative;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: var(--p1);
}
.tecnologia-conteudo a::after{
    content: "";
    display: block;
    height: 4px;  
    width: 100%;
    background: var(--p1);
    position: absolute;
}

.tecnologia-contmais{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
    margin-top: 80px;
}

.tecnologia-mais img{
    margin-bottom: 8px;
}
.tecnologia-mais h3{
    font-family: 'Poppins';
    width: max-content;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: var(--w);
}
.tecnologia-mais p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--c5);
}
.tecnologia-img-container{
    height: 100%;
}
.tecnologia-img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position:left ;
}