.termos-bg{
    background: var(--c11);
}
.termos-titulo{
    max-width: 1200px;
    padding: 60px 20px;
    margin: 0 auto;
}
.termos-titulo p{
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 32px;
    color: var(--c5);
}
.termos-titulo h1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: var(--w);
    margin-bottom: 32px;
}
.termos-titulo h1 span{
    font-family: 'Poppins';
    color: var(--p1);
    font-size: 64px;
}
.termos-itens{
    max-width: 1200px;
    padding: 120px 20px;
    margin: 0 auto;
}
.termos-itens h2{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--c11);
    margin-bottom: 20px;
}
.termos-itens p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--c10);
    margin-bottom: 12px;
}
.termos-itens div:nth-child(1),
.termos-itens div:nth-child(2){
    margin-bottom: 48px;
}

@media (max-width:800px){
    .termos-titulo{
        padding: 30px 20px;
    }
    .termos-titulo p{
        font-size: 16px;
        line-height: 24px;
    }
    .termos-titulo h1{
        font-size: 56px;
        line-height: 64px;
        margin-bottom: 16px;
    }
    .termos-itens{
        padding: 40px 20px;
    }
}